.LoginPage {
    text-align: center;
  }
  
  .LoginPage-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .LoginPage-link {
    color: #61dafb;
  }
  
  .LoginPage-title {
    margin: 5 rem;
    color: white;
  }
  
  .LoginPage-background {
    background-color: #282c34;
  }