.result__banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 10px;
  background-color: #1f222a;
  z-index: 100;
  width: 100%;
  margin: 0px 0px 20px;
}

.banner__left {
  margin-left: 50px;
  color: white;
}

.banner__right {
  margin-right: 50px;
  margin-left: 50px;
}

.banner__links {
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: inherit;
  color: inherit;
  /* cursor: auto; */
}


div {}