.main {
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: row;
  margin: 20px 0px 20px;
  justify-content: space-between;
  flex-flow: nowrap;
}

.banner__left {
  margin-left: 50px;
  color: white;

  width: 75%;
}


.header__left {
  display: flex;
  flex-grow: 4;
  align-items: stretch;
  justify-content: space-between;
  width: 15vw;
  padding-left: 17vh;
  transform: scale(1.8);
  color: #ffffff;
}


.filter-button {
  flex-grow: 1;
}

.grid {
  width: '90%';
  margin: '0px';
}

.paper {
  /* padding: theme.spacing(2), */
  text-align: 'left';
  background-color: 'white'
}