.result__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #1f222a;
  z-index: 100;
  width: 100%;
}

.header__center {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  padding: 10px;
  height: 30px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 999px;
  margin-right: calc(50vw - 170px);
}

.header__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15vw;
  padding-left: 17vh;
  transform: scale(1.8);
  color: #ffffff;
}

.header__center > input {
  border: none;
  padding: 10px;
  outline-width: 0;
  width: 250px;
}
