.SuburbInfo {
  display: flex;
  padding: 3.25rem;
  background-color: #f5f5f5;
  width: 70%;
  height: 70%;
  margin-top: 80px;
  margin-left: calc(50vw - 26vw);
  border-radius: 75px;
}

.SuburbInfo__heart {
  position: absolute;
  top: 365px;
  right: 750px;
  transform: scale(1.5);
}

.SuburbResult__infoTop {
  color: #1ab65c;
  font-size: 36px;
}

.SuburbResult__heading {
  font-size: 32px;
  padding-left: 60px;
}

.SuburbResult__infoBottom {
  font-size: 24px;
  padding-left: 60px;
  font-weight: bold;
}
.Suburb__Hyperlink {
  font-size: 24px;
  padding-left: 60px;
  font-weight: bold;
  color: #1ab6ad;
}
