.Box-title {
  text-align: left;
  font-weight: bold;
}

.Box-location {
  text-align: centre;
  font-size: small;
}

.Stack-stack {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
